<apex:page Controller="LeadAllocationAppletController" standardStylesheets="false" showHeader="false" sidebar="false" applyBodyTag="false" applyHtmlTag="false" docType="html-5.0">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <head>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" />
            <apex:stylesheet value="{!URLFOR($Resource.SLDS, '/slds/assets/styles/salesforce-lightning-design-system.min.css')}" />
            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
            <apex:includeScript value="/support/console/24.0/integration.js"/>
        </head>
        <body>
            <script>
            
                function runSchedule() {
                    alert('Calling Scheduler');
                    runSchedulex();
                }
            </script>
            <script>
                var currentSetTimeout;
                var unavailableDueToAccept = false;
                
                function playSound() {   
                    document.getElementById("sound").innerHTML='<audio autoplay="autoplay"><source src="{!$Resource.SoundNotification}" type="audio/mpeg" /><embed hidden="true" autostart="true" loop="false" src="{!$Resource.SoundNotification}" /></audio>';
                }
            </script>
            <div id="sound"></div>
            
            <apex:form >
                <apex:actionFunction action="{!runSchedule}" name="runSchedulex" rerender=""></apex:actionFunction>
            </apex:form>
            
            <apex:form id="theForm">
                <script>
                    if(unavailableDueToAccept) {
                        clearTimeout(currentSetTimeout)
                        unavailableDueToAccept = false
                    }
                </script>
                
                <apex:actionPoller action="{!getLeadAllocation}" rerender="theForm" interval="5" />
                <apex:actionFunction name="acceptLead" action="{!updateLeadAllocation}" rerender="theForm" oncomplete="redirectURL()"></apex:actionFunction>
                <apex:actionFunction name="ignoreLead" action="{!ignoreLeadAllocation}" rerender="theForm"></apex:actionFunction>
                <apex:actionFunction name="changeUserStatusfunction" action="{!changeUserStatus}" rerender="theForm"></apex:actionFunction>
                
                <apex:outputPanel >
                    <apex:outputPanel id="outputPanel">
                        <script>
                            function redirectURL() {
                                if('{!redirectURL}' != '' && '{!redirectURL}' != null && '{!redirectURL}' != undefined) {
                                    window.open('{!redirectURL}', '_top')
                                }
                                console.log('ok')
                            }
                            
                            console.log('{!showPopup}')
                            
                            if('{!showPopUp}' == 'true') {
                                console.log('showPopup')
                                
                                playSound()
                                
                                $('.ui.modal').modal('show').modal({
                                    closable: false
                                })
                                
                                currentSetTimeout = setTimeout(function() {
                                    console.log('ignored')
                                    if(!unavailableDueToAccept) {
                                        ignoreLead()
                                        $('.ui.modal').modal('hide')
                                    }
                                }, {!responseTime})
                            }
                            
                        </script>
                    </apex:outputPanel>
                    
                    <div draggable="false" >
                        <button class="slds-button slds-button_brand" style="margin-left:60px; font-size: 75%; padding-left:5px; padding-right:5px" onclick="runSchedule()">Run Scheduler</button>
                    </div>
                    
                    <br/>
                    <center>
                        <div id="outputPanel2">
                            <apex:outputPanel rendered="{!usr.Is_Available__c}">
                                <div class="demo-only slds-size_1-of-2">
                                    <div class="slds-form-element">
                                        <label class="slds-checkbox_toggle slds-grid">
                                            <input type="checkbox" onclick="changeUserStatusfunction()" name="checkbox" value="off" checked="checked" id="isAvailableCheckbox" />
                                            <span id="toggle-desc" class="slds-checkbox_faux_container" for="isAvailableCheckbox">
                                                <span class="slds-checkbox_faux"></span>
                                                <span class="slds-checkbox_on">Agent Available</span>
                                                <span class="slds-checkbox_off">Agent Unavailable</span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </apex:outputPanel>
                            
                            <apex:outputPanel rendered="{!!usr.Is_Available__c}">
                                <div class="demo-only slds-size_1-of-2">
                                    <div class="slds-form-element">
                                        <label class="slds-checkbox_toggle slds-grid">
                                            <input type="checkbox" onclick="changeUserStatusfunction()" name="checkbox" value="off" id="isAvailableCheckbox" />
                                            <span id="toggle-desc" class="slds-checkbox_faux_container" for="isAvailableCheckbox">
                                                <span class="slds-checkbox_faux"></span>
                                                <span class="slds-checkbox_on">Agent Available</span>
                                                <span class="slds-checkbox_off">Agent Unavailable</span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </apex:outputPanel>
                            
                            <script>
                                function clickOnModalButton() {
                                    unavailableDueToAccept = true
                                    
                                    $('.ui.modal').modal('hide')
                                    
                                    acceptLead()
                                }
                            </script>
                        </div>
                    </center>
                </apex:outputPanel>
            </apex:form>
            
            <div class="ui modal">
                <div class="header">
                    Agent Availability 
                </div>
                <div class="content">
                    <div class="description">
                        <p>A new lead is available to be accepted.</p>
                    </div>
                </div>
                <div class="actions">
                    <button class="ui button" onclick="clickOnModalButton()">
                        Accept
                    </button>
                </div>
            </div>
        </body>
    </html>
</apex:page>